---
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro';
import '../style.css';
---

<Layout title="Homepage">
	<main class="bg-gray-950 w-screen h-screen relative my-background">
		<div class="w-fit h-fit absolute m-auto inset-0 flex items-center gap-4">
			<div class="w-fit h-fit bg-slate-700 p-4 rounded-xl my-shadow border-solid border-violet-600/20 border-2 flex flex-col gap-2 ">
				<Link color="bg-[#0EA882]" name="ChatGpt" link="chat.openai.com">
					<svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 2406 2406"
						><path
							fill="#fff"
							d="M1077 300h57l10 1a451 451 0 0 1 276 121l19 19 9 9c2 1 8-1 11-2l25-4c26-3 53-3 79-3l10 1a451 451 0 0 1 381 255 461 461 0 0 1 45 169l1 19v24l-1 18c0 16-6 54-10 70l-8 29c-1 3-4 10-3 13s5 7 7 9l13 16a453 453 0 0 1 90 204l5 42 1 10v13l1 13-1 10v11l-1 12a470 470 0 0 1-207 350c-31 20-66 36-101 48l-36 11c-4 1-14 2-16 5-2 1-6 13-7 16l-15 35a462 462 0 0 1-326 254c-16 3-48 8-64 8l-29 1-10-1h-13l-10-1c-21-1-42-5-63-9a447 447 0 0 1-213-114l-18-18-8-8c-3-1-7 0-10 1l-23 4-35 3-18 1h-18l-19-1-10-1a457 457 0 0 1-413-378l-6-47-1-18v-21l1-19c0-13 5-43 7-56l10-40c1-4 5-14 4-17s-9-12-12-15l-21-28a456 456 0 0 1-83-249l-1-13 1-12v-14l4-37a450 450 0 0 1 262-353c22-10 44-18 67-24l20-5c3-1 7-1 9-4 2-2 5-13 6-16l11-27a457 457 0 0 1 359-267l18-2 11-1Zm247 195a323 323 0 0 0-208-78l-15-1-13 1h-4a345 345 0 0 0-281 187c-20 40-31 84-34 128l-1 12v407l1 8 10 6 24 14 80 46c8 5 34 21 41 23V760c0-17 8-34 21-45l27-16 50-29 213-123 63-36c7-4 22-11 26-16Zm553 460a339 339 0 0 0-315-396l-11-1c-40 0-82 5-120 19-38 13-61 28-95 48l-78 45-179 103-41 24c-13 8-14 6-14 16v171c7-2 26-14 34-19l70-40 224-129 74-43c16-9 30-20 49-20s32 9 48 18l70 41 192 110 62 36 30 17ZM650 743a343 343 0 0 0-202 202 343 343 0 0 0 122 393c21 15 44 27 66 40l134 77 125 72 35 21c3 1 12 7 15 7s11-5 14-6l29-17 75-43 38-22v-2l-345-199-50-29-33-19a63 63 0 0 1-23-52V743Zm1104 919c7-1 18-7 25-10a329 329 0 0 0 149-132l4-9 8-15a345 345 0 0 0 36-139l1-14-1-12c-1-92-47-185-117-245-31-26-66-45-101-64l-139-80-116-67-31-18c-3-2-11-7-14-7s-10 5-13 6l-30 18-112 64v2l45 26 78 45 226 130 53 31c10 5 22 11 30 18 12 11 19 28 19 44v428Zm-553-664c-5 1-11 5-16 8l-27 16-94 54-27 16c-13 7-13 6-13 15v191l1 7c1 2 5 4 7 5l16 10 79 45 54 31c4 3 17 11 21 11 3 0 18-9 22-11l52-31 79-45 17-10c2-1 6-3 7-5l1-8v-190l-1-7c-1-2-10-7-12-8l-26-15-99-57-26-15c-5-3-10-7-15-7Zm281 160c-2 4-1 10-1 15v470c0 20-7 36-23 49-6 5-19 11-26 15l-44 26-128 73-180 104a344 344 0 0 0 192 78l10 1h11l12 1 9-1h10a340 340 0 0 0 312-322l1-15v-396l-1-8-10-7-26-15-78-45-40-23Zm-102 264-32 18-70 40-217 125-82 48c-16 9-29 19-48 20-21 1-32-8-49-18l-70-40-184-106-70-41-30-17c-6 19-5 55-5 75a336 336 0 0 0 353 321l10-1c41-3 81-13 119-30l49-27 34-20 177-101 88-51 18-10 8-6 1-8v-171Z"
						></path></svg
					>
				</Link>
				<Link color="bg-[#171719]" name="Perplexity" link="www.perplexity.ai">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff"
						><path
							d="M3 0C1 0 0 1 0 3v10c0 2 1 3 3 3h10c2 0 3-1 3-3V3c0-2-1-3-3-3Zm2 4a1 1 0 0 1 1 1 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1Zm3 0a1 1 0 0 1 1 1 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1Zm3 0a1 1 0 0 1 1 1 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1ZM5 7a1 1 0 0 1 1 1 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1Zm3 0a1 1 0 0 1 1 1 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1Zm3 0a1 1 0 0 1 1 1 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1Zm-6 3a1 1 0 0 1 1 1 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1Zm3 0a1 1 0 0 1 1 1 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1Zm3 0a1 1 0 0 1 1 1 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1z"
						></path></svg
					>
				</Link>
				<Link color="bg-[#004E98]" name="Hyprland wiki" link="wiki.hyprland.org">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="1.5em" viewBox="0 0 37.4 48.3"
						><defs><linearGradient id="a"><stop offset="0" stop-color="#00e2d0"></stop><stop offset="1" stop-color="#00a1f6"></stop></linearGradient><linearGradient xlink:href="#a" id="b" x1="35.1" x2="16.7" y1="8.4" y2="30.6" gradientUnits="userSpaceOnUse"></linearGradient></defs><path
							fill="url(#b)"
							d="M16 0C20.5 11.8 3.7 18.5 5.1 31c1.5 14.4 22.7 17.7 26.7 2 2.7-10.4-8.3-18.7-11-25-1.1-2.6-1-5.3-1-8 4.5 2.5 7.6 7.8 10.6 12 2.6 3.7 5.1 7.6 6.1 12 1 4 1.3 8 0 12C30.6 55.3-2 51.2.1 28c.4-3.8 1.6-7.7 3.5-11z"></path></svg
					>
				</Link>
				<Link color="bg-blue-800" name="Netlify" link="app.netlify.com">
					<svg height="1.5em" viewBox="0 0 256 226" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"
						><path fill="#05BDBA" d="M69 188h-2l-12-12v-2l18-19h13l2 2v13zM55 52v-3l12-12h2l19 19v12l-2 2H73z"></path><path d="M161 149h-18l-1-1v-41c0-8-3-13-12-14l-15 1-1 1v53l-1 1H95l-1-1V78l1-2h40c15 0 27 12 27 28v44l-1 1Z" fill="#014847"></path><path fill="#05BDBA" d="M72 123H1l-1-2v-17l1-2h71l1 2v17zm183 0h-71l-1-2v-17l1-2h71l1 2v17zM118 54V1l1-1h18l1 1v53l-1 2h-18zm0 170v-53l1-1h18l1 1v53l-1 1h-18z"></path></svg
					>
				</Link>
				<Link color="bg-green-500" name="Neovim" link="reddit.com/r/neovim">
					<svg height="1.5em" viewBox="0 0 174.9 212.2" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="m0 46 8-8 37 56v118L0 167Z" fill="#3c92d2"></path><path d="M175 46 129 0v118l38 58 8-9zM45 0l118 179-33 33L12 33Z" fill="#57a143"></path></g></svg>
				</Link>
				<Link color="bg-[#333]" name="Github" link="github.com">
					<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 496 512"
						><path
							fill="#fff"
							d="M166 397c0 2-2 4-5 4-4 0-6-1-6-4 0-2 2-3 5-3 3-1 6 1 6 3zm-31-4c-1 2 1 4 4 5s6 0 6-2-1-5-4-5c-3-1-5 0-6 2zm44-2c-3 1-5 3-5 5 1 2 3 3 6 3 3-1 5-3 5-5s-3-3-6-3zM245 8A240 240 0 0 0 0 252c0 111 70 206 170 239 12 2 17-5 17-12v-61s-70 15-85-30c0 0-12-29-28-37 0 0-23-15 2-15 0 0 24 2 38 26 22 38 59 27 73 21 2-16 9-28 16-34-56-6-112-14-112-111 0-27 7-41 23-59-2-6-11-33 3-67 21-7 69 27 69 27a237 237 0 0 1 126 0s48-34 69-27c13 34 5 61 2 67 16 18 26 32 26 59 0 97-59 105-115 111 9 8 17 23 17 46v84c0 6 5 14 17 12a248 248 0 0 0 168-239C496 113 384 8 245 8zM97 353c-1 1-1 3 1 5 1 2 4 2 5 1s1-3-1-5c-1-2-4-2-5-1zm-11-8 3 4c1 1 3 0 4-1s0-3-2-4-4 0-5 1zm33 35c-2 2-1 5 1 7s5 2 7 1c1-2 0-5-2-7s-5-2-6-1zm-12-14v6c2 2 5 3 6 2 2-1 2-4 0-6-1-3-4-4-6-2z"
						></path></svg
					>
				</Link>
				<Link color="bg-sky-400" name="Font awesome" link="fontawesome.com">
					<svg xmlns="http://www.w3.org/2000/svg" height="1em" fill="white" viewBox="0 0 448 512"><path d="M448 48v336c-63 23-82 32-119 32-63 0-87-32-150-32-20 0-36 4-51 8v-64c15-4 31-8 51-8 63 0 87 32 150 32 20 0 35-3 55-9V135c-20 6-35 9-55 9-63 0-87-32-150-32-51 0-75 21-115 29v307a32 32 0 1 1-64 0V64a32 32 0 1 1 64 0v13c40-8 64-29 115-29 63 0 87 32 150 32 37 0 56-9 119-32z"></path></svg>
				</Link>
				<Link color="bg-sky-600" name="Tailwind cheatsheet" link="tailwindcomponents.com/cheatsheet/">
					<svg height="1em" width="1em" fill="#0ED3CF" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 27"
						><path
							d="M22.487.658s5.03 13.072-1.822 22.171C16.476 28.39 9.84 27.26 5.484 25.68c1.513-3.391 3.441-6.067 5.784-8.03 1.176.623 3.186.792 6.03.51-2.535-.221-4.284-.654-5.246-1.3l.125.08c2.122-1.546 4.556-2.556 7.303-3.029-3.16-.285-6.026.315-8.598 1.804-.577-.742-1.157-1.748-1.74-3.018.07 1.534.339 2.734.809 3.6-2.64 1.797-4.953 4.58-6.94 8.351a7.583 7.583 0 01-.188-.088c-.802-.358-1.328-1.037-1.755-2.036C-1.9 13.366 4.645 8.273 11.123 7.989 23.046 7.465 22.487.658 22.487.658z"
						></path></svg
					>
				</Link>
				<Link color="bg-[#b78831]" name="Crates io" link="crates.io">
					<svg height="1.5em" width="1.5em" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"
						><defs><symbol id="a" viewBox="0 0 45.72 26.28"><path fill="none" d="M0 0h45.72v26.28H0z"></path><path fill="#231f20" d="M0 16.309h22.926v9.971L45.72 13.139 22.926 0v9.97H0v6.339z"></path></symbol></defs><path fill="#977753" d="m14.261 29.519-.007-.457 12.926-5.511 2.038.288-.012.385-12.942 6.334Z"></path><path fill="#7a552c" d="M14.268 29.067 27.18 23.19l2.05.663-12.966 6.264Z"></path><path fill="#886947" d="m14.258 27.63 2.01 1.086v1.416l-2.01-1.086Z"></path><path
							fill="#9a7246"
							d="m29.139 22.465-1.521.766v1.416l1.521-.766Z"></path><path fill="#694a27" d="m20.178 24.751 2.01 1.086v1.416l-2.01-1.086v-1.416Z"></path><path fill="#9a7246" d="m23.708 25.072-1.521.766v1.416l1.521-.766v-1.416Z"></path><path fill="#715a40" d="m8.722 26.749-.007-.4 12.925-5.514 2.038.288-.012.385-12.942 6.28Z"></path><path fill="#886947" d="M8.719 24.914 10.728 26v1.416l-2.01-1.086v-1.416Z"></path><path
							fill="#6d471e"
							d="M12.249 25.234 10.728 26v1.416l1.521-.766v-1.416Z"></path><path fill="#7a5f41" d="m3.454 24.088-.007-.349 12.926-5.511 2.038.288-.011.384-12.944 6.227Z"></path><path fill="#886947" d="m3.451 22.308 2.01 1.086v1.416l-2.01-1.086Z"></path><path fill="#6d471e" d="m6.981 22.628-1.521.766v1.416l1.521-.766Z"></path><path fill="#977753" d="m3.345 22.622-.007-.282s2.539-.09 1.689.115C6.08 21.792 16.182 17.9 16.182 17.9l12.961 4.44.062.279-12.942 6.09Z"></path><path
							fill="#c69c6d"
							d="m3.3 22.36 12.966-4.519 12.963 4.519-12.965 6.019Z"></path><path fill="#e5ac3d" stroke="#73561f" stroke-miterlimit="10" stroke-width=".054" d="m16.372 6.64-6.2-2.481v8.123l6.2 2.522Z"></path><path fill="#e3b04e" stroke="#73561f" stroke-miterlimit="10" stroke-width=".054" d="m16.331 6.674 6.115-2.435L16.3 1.708l-6.141 2.467Z"></path><use xlink:href="#a" width="45.72" height="26.28" transform="matrix(0 -.029 .022 .013 10.56 6.25)"></use><path
							fill="#e5ac3d"
							stroke="#73561f"
							stroke-miterlimit="10"
							stroke-width=".054"
							d="m22.509 17.109 6.2-2.481v7.311l-6.2 2.878Z"></path><path fill="#e5ac3d" stroke="#73561f" stroke-miterlimit="10" stroke-width=".054" d="m22.5 9.134 6.2-2.415v7.906l-6.2 2.509Z"></path><path fill="#e3b04e" stroke="#73561f" stroke-miterlimit="10" stroke-width=".054" d="M22.433 9.119 16.4 6.557l6.062-2.274 6.2 2.4Z"></path><path fill="#e5ac3d" stroke="#73561f" stroke-miterlimit="10" stroke-width=".054" d="m10.072 17.092-6.2-2.392v7.375l6.2 2.847Z"></path><path
							fill="#e3b04e"
							stroke="#73561f"
							stroke-miterlimit="10"
							stroke-width=".054"
							d="m10.056 17.144 6.2-2.417-6.2-2.465-6.2 2.4Z"></path><path fill="none" stroke="#73561f" stroke-miterlimit="10" stroke-width=".054" d="m6.952 15.883 6.196-2.467"></path><path fill="#e5ac3d" stroke="#73561f" stroke-miterlimit="10" stroke-width=".054" d="m16.3 19.658-6.2-2.464v7.715l6.2 2.957Z"></path><path fill="#e5ac3d" stroke="#73561f" stroke-miterlimit="10" stroke-width=".054" d="m16.25 19.729 6.255-2.481v7.661l-6.255 2.957Z"></path><path
							fill="#e5ac3d"
							stroke="#73561f"
							stroke-miterlimit="10"
							stroke-width=".054"
							d="m16.264 11.547 6.2-2.446v8.16l-6.2 2.485ZM16.264 11.528l-6.2-2.481v8.123l6.2 2.522Z"></path><path fill="#e3b04e" stroke="#73561f" stroke-miterlimit="10" stroke-width=".054" d="m16.277 11.508 6.169-2.435-6.2-2.531-6.2 2.467Z"></path><path fill="none" stroke="#73561f" stroke-miterlimit="10" stroke-width=".054" d="m12.82 10.149 6.196-2.467M13.037 5.37l6.196-2.467M19.811 5.286l6.316 2.447"></path><path
							fill="#fff"
							stroke="#73561f"
							stroke-miterlimit="10"
							stroke-width=".047"
							d="m18.301 7.395-6.24 2.484 1.482.593 6.196-2.466-1.438-.611zM18.573 2.616 12.333 5.1l1.482.593 6.195-2.466-1.437-.611zM6.266 15.628l1.481.592 2.342-.932-.026-1.172-3.797 1.512z"
							opacity=".3"></path><path fill="#fff" stroke="#73561f" stroke-miterlimit="10" stroke-width=".042" d="m20.495 5.029-1.339.525 6.227 2.413 1.342-.524-6.23-2.414z" opacity=".3"></path><path fill="none" d="m6.7 17.509.051-.044-.104-.041.053.085zM7.09 17.679l.065-.057-.129-.051.064.108z"></path><path
							fill="#fff"
							stroke="#73561f"
							stroke-miterlimit="10"
							stroke-width=".067"
							d="m7.719 16.195-1.453-.565v1.645l.201-.136.18.285.104.041.138-.122.137.228.129.051.189-.166.238.332.137.053v-1.646z"
							opacity=".3"></path><path fill="none" d="m12.783 6.973.05-.044-.104-.041.054.085zM13.173 7.143l.065-.057-.13-.051.065.108z"></path><path fill="#fff" stroke="#73561f" stroke-miterlimit="10" stroke-width=".067" d="m13.802 5.659-1.454-.565v1.645l.202-.136.179.285.104.041.138-.122.137.228.13.051.188-.166.239.332.137.053V5.659z" opacity=".3"></path><path fill="none" d="m12.544 11.783.05-.044-.104-.04.054.084zM12.933 11.953l.065-.057-.129-.05.064.107z"></path><path
							fill="#fff"
							stroke="#73561f"
							stroke-miterlimit="10"
							stroke-width=".067"
							d="m13.562 10.47-1.453-.565v1.645l.201-.136.18.285.104.04.138-.121.137.228.129.05.189-.166.238.332.137.053V10.47z"
							opacity=".3"></path><path fill="none" d="m13.139 16.719-.05.045.104.039-.054-.084zM12.747 16.554l-.065.058.131.049-.066-.107z"></path><path fill="#fff" stroke="#73561f" stroke-miterlimit="10" stroke-width=".067" d="m12.139 18.046 1.461.545-.023-1.645-.2.139-.184-.282-.104-.039-.136.123-.14-.226-.131-.049-.186.169-.243-.329-.137-.051.023 1.645z" opacity=".3"></path><path fill="none" d="m7.328 21.878-.05.045.104.039-.054-.084zM6.936 21.714l-.065.058.13.048-.065-.106z"
						></path><path fill="#fff" stroke="#73561f" stroke-miterlimit="10" stroke-width=".067" d="m6.327 23.206 1.392.639.047-1.74-.2.139-.184-.282-.104-.039-.137.123-.14-.226-.13-.048-.186.168-.243-.328-.138-.052.023 1.646z" opacity=".3"></path><path fill="none" d="m25.761 14.093.051.045-.104.04.053-.085zM26.151 13.923l.065.057-.129.051.064-.108z"></path><path
							fill="#fff"
							stroke="#73561f"
							stroke-miterlimit="10"
							stroke-width=".067"
							d="m26.78 15.407-1.453.565v-1.645l.201.136.18-.285.104-.04.138.121.137-.228.129-.051.189.166.238-.332.137-.053v1.646z"
							opacity=".3"></path><path fill="none" d="m26.356 9.321-.049-.045.104-.039-.055.084zM25.964 9.485l-.064-.058.13-.048-.066.106z"></path><path fill="#fff" stroke="#73561f" stroke-miterlimit="10" stroke-width=".067" d="m25.356 7.993 1.461-.545-.023 1.645-.199-.138-.184.282-.104.039-.137-.124-.14.227-.13.048-.186-.168-.243.328-.138.052.023-1.646z" opacity=".3"></path><path fill="none" d="m19.428 24.558.05.044-.103.04.053-.084zM19.818 24.388l.065.057-.13.05.065-.107z"
						></path><path fill="#fff" stroke="#73561f" stroke-miterlimit="10" stroke-width=".067" d="m20.447 25.871-1.454.674v-1.754l.202.136.18-.285.103-.04.139.121.136-.228.13-.05.189.166.238-.332.137-.053v1.645z" opacity=".3"></path><path fill="none" d="m20.023 19.948-.05-.045.105-.039-.055.084zM19.631 20.113l-.064-.058.13-.049-.066.107z"></path><path
							fill="#fff"
							stroke="#73561f"
							stroke-miterlimit="10"
							stroke-width=".067"
							d="m19.023 18.62 1.461-.544-.023 1.645-.199-.139-.184.282-.105.039-.136-.123-.14.226-.13.049-.187-.169-.242.329-.138.051.023-1.646z"
							opacity=".3"></path><path
							d="m21.426 13.49-.172-.039V13.4l.148-.208a.087.087 0 0 0 .018-.065.035.035 0 0 0-.037-.03l-.189.006-.015-.045.118-.222a.073.073 0 0 0 .007-.063.037.037 0 0 0-.045-.018l-.2.051-.024-.037.084-.229a.058.058 0 0 0 0-.058.042.042 0 0 0-.051-.006l-.2.094-.032-.027.047-.227a.047.047 0 0 0-.016-.052.052.052 0 0 0-.056.007l-.2.133-.039-.017.007-.215a.039.039 0 0 0-.026-.043.065.065 0 0 0-.058.02l-.184.166-.045-.006-.033-.2a.036.036 0 0 0-.036-.032.08.08 0 0 0-.057.031l-.164.194-.049.005-.071-.168a.036.036 0 0 0-.044-.021.094.094 0 0 0-.055.042l-.138.214-.05.016-.107-.135a.041.041 0 0 0-.05-.008.1.1 0 0 0-.05.051l-.107.226-.05.026-.138-.1a.05.05 0 0 0-.055 0 .109.109 0 0 0-.044.058l-.071.228-.049.036-.164-.054a.062.062 0 0 0-.057.017.107.107 0 0 0-.036.063l-.033.223-.045.044-.184-.01a.077.077 0 0 0-.058.029.1.1 0 0 0-.026.065l.007.209-.039.05-.2.035a.092.092 0 0 0-.056.04.085.085 0 0 0-.016.065l.046.187-.032.054-.2.079a.1.1 0 0 0-.051.049.07.07 0 0 0 0 .062l.084.157-.024.057-.2.119a.109.109 0 0 0-.045.057.056.056 0 0 0 .007.057l.118.122-.015.058-.189.155a.107.107 0 0 0-.037.062.045.045 0 0 0 .018.05l.148.082v.055l-.172.185a.1.1 0 0 0-.028.065.038.038 0 0 0 .028.041l.172.039v.051l-.148.208a.088.088 0 0 0-.018.065.035.035 0 0 0 .037.03l.189-.006.015.045-.118.222a.073.073 0 0 0-.007.063.037.037 0 0 0 .045.018l.2-.051.024.037-.084.229a.058.058 0 0 0 0 .058.042.042 0 0 0 .051.006l.2-.094.032.027-.046.227a.047.047 0 0 0 .016.051.052.052 0 0 0 .056-.007l.2-.133.039.017-.007.215a.039.039 0 0 0 .026.043.065.065 0 0 0 .058-.02l.184-.166.045.006.033.2a.035.035 0 0 0 .036.032.08.08 0 0 0 .057-.031l.164-.194.049-.005.071.168a.036.036 0 0 0 .044.02.093.093 0 0 0 .055-.042l.138-.214.05-.016.107.135a.041.041 0 0 0 .05.008.1.1 0 0 0 .05-.051l.107-.226.05-.027.138.1a.05.05 0 0 0 .055 0 .109.109 0 0 0 .044-.058l.071-.228.049-.036.164.054a.063.063 0 0 0 .057-.017.107.107 0 0 0 .036-.063l.033-.223.045-.044.184.01a.077.077 0 0 0 .058-.029.1.1 0 0 0 .026-.065l-.007-.209.039-.05.2-.035a.091.091 0 0 0 .056-.04.085.085 0 0 0 .016-.065l-.046-.187.017-.053.2-.079a.1.1 0 0 0 .051-.049.07.07 0 0 0 0-.062l-.084-.157.024-.057.2-.119a.108.108 0 0 0 .045-.057.056.056 0 0 0-.007-.057l-.118-.122.015-.058.189-.155a.107.107 0 0 0 .037-.062.045.045 0 0 0-.018-.05l-.148-.082v-.055l.172-.185a.1.1 0 0 0 .028-.065.038.038 0 0 0-.014-.039Zm-1.153 1.988c-.066.013-.108-.037-.094-.112a.208.208 0 0 1 .145-.16c.066-.013.108.037.094.112a.209.209 0 0 1-.145.16Zm-.059-.39a.19.19 0 0 0-.132.146l-.061.325a2.252 2.252 0 0 1-.619.4 1.4 1.4 0 0 1-.632.123l-.061-.273c-.013-.057-.072-.072-.132-.033l-.252.164a.825.825 0 0 1-.13-.106l1.226-.521c.014-.006.023-.012.023-.026v-.455c0-.013-.009-.012-.023-.006l-.359.152v-.288l.388-.165a.161.161 0 0 1 .239.115c.015.057.049.249.072.3s.117.172.217.13l.611-.26.022-.012a2.868 2.868 0 0 1-.139.23Zm-1.7 1.13c-.066.043-.131.026-.145-.037a.2.2 0 0 1 .094-.192c.066-.043.131-.026.145.037a.2.2 0 0 1-.09.192Zm-.465-1.779a.18.18 0 0 1-.062.2c-.062.055-.134.056-.161 0a.18.18 0 0 1 .062-.2c.066-.051.138-.053.165 0Zm-.143.416.263-.234a.164.164 0 0 0 .057-.178l-.054-.105.213-.09v1l-.429.182a1.386 1.386 0 0 1-.057-.407c.001-.052.001-.11.011-.168Zm1.152-.587v-.3l.506-.215c.026-.011.185-.047.185.077 0 .1-.122.192-.222.234l-.47.2Zm1.84-.516v.118l-.154.065a.036.036 0 0 0-.022.036v.074a.31.31 0 0 1-.176.3c-.078.043-.165.036-.176-.01-.046-.253-.123-.278-.245-.327a.984.984 0 0 0 .308-.578.3.3 0 0 0-.235-.315.568.568 0 0 0-.322.026l-1.592.677a2.7 2.7 0 0 1 .84-.853l.188.127c.042.029.113 0 .157-.063l.21-.3a.938.938 0 0 1 1.027.33l-.144.4c-.025.069 0 .128.057.13l.277.011q.004.073.004.152Zm-1.591-1.044c.049-.069.126-.1.172-.069s.045.113 0 .183-.126.1-.172.069-.044-.114.005-.184Zm1.427.6a.191.191 0 0 1 .161-.133c.062 0 .089.066.062.142a.191.191 0 0 1-.161.133c-.057-.006-.085-.07-.058-.15Z"
							opacity=".55"></path><path
							d="m15.314 23.421-.19-.195-.005-.057.163-.085a.046.046 0 0 0 .02-.052.112.112 0 0 0-.041-.065l-.208-.163-.016-.06.13-.127a.057.057 0 0 0 .007-.06.116.116 0 0 0-.05-.06l-.22-.126-.026-.06.092-.165a.07.07 0 0 0-.005-.065.111.111 0 0 0-.057-.052l-.223-.083-.035-.057.051-.2a.086.086 0 0 0-.017-.068.1.1 0 0 0-.061-.042l-.217-.038-.043-.053.008-.22a.1.1 0 0 0-.029-.068.087.087 0 0 0-.063-.031l-.2.01-.049-.047-.036-.234a.111.111 0 0 0-.039-.066.071.071 0 0 0-.063-.018l-.181.056-.054-.038-.078-.24a.115.115 0 0 0-.048-.061.057.057 0 0 0-.06-.005l-.152.1-.059-.026-.117-.238a.113.113 0 0 0-.055-.054.046.046 0 0 0-.055.008l-.117.142-.055-.017-.152-.225a.1.1 0 0 0-.06-.044.04.04 0 0 0-.048.021l-.078.176-.054-.006-.181-.2a.089.089 0 0 0-.063-.033.038.038 0 0 0-.039.034l-.036.205-.049.006-.2-.175a.074.074 0 0 0-.063-.021.041.041 0 0 0-.029.045l.008.226-.043.018-.217-.14a.06.06 0 0 0-.061-.008.048.048 0 0 0-.017.054l.051.238-.035.028-.223-.1a.048.048 0 0 0-.057.006.059.059 0 0 0-.005.061l.092.24-.026.039-.22-.054a.041.041 0 0 0-.05.019.074.074 0 0 0 .007.066l.13.234-.016.047-.208-.007a.038.038 0 0 0-.041.032.089.089 0 0 0 .02.068l.163.219-.005.053-.19.04a.04.04 0 0 0-.031.043.1.1 0 0 0 .031.068l.19.195.005.057-.163.085a.046.046 0 0 0-.02.052.113.113 0 0 0 .041.065l.208.163.016.06-.13.127a.057.057 0 0 0-.007.06.116.116 0 0 0 .05.06l.22.126.026.06-.092.165a.071.071 0 0 0 .005.065.111.111 0 0 0 .057.052l.223.083.035.057-.051.2a.086.086 0 0 0 .017.068.1.1 0 0 0 .061.042l.217.038.043.053-.008.22a.1.1 0 0 0 .029.068.087.087 0 0 0 .063.031l.2-.009.049.047.036.234a.111.111 0 0 0 .039.066.071.071 0 0 0 .063.019l.18-.056.054.038.078.24a.115.115 0 0 0 .048.061.057.057 0 0 0 .06.005l.152-.1.055.028.117.238a.113.113 0 0 0 .055.054.047.047 0 0 0 .055-.008l.117-.142.055.017.152.225a.1.1 0 0 0 .06.044.04.04 0 0 0 .048-.021l.078-.176.054.006.181.2a.09.09 0 0 0 .063.033.038.038 0 0 0 .039-.034l.036-.2.049-.006.2.175a.074.074 0 0 0 .063.021.041.041 0 0 0 .029-.045l-.008-.226.043-.018.217.14a.059.059 0 0 0 .061.008.048.048 0 0 0 .017-.054l-.051-.238.035-.028.223.1a.048.048 0 0 0 .057-.006.059.059 0 0 0 .005-.061l-.092-.24.026-.039.22.054a.041.041 0 0 0 .05-.019.073.073 0 0 0-.007-.066l-.13-.234.016-.047.208.007a.038.038 0 0 0 .041-.032.089.089 0 0 0-.02-.068l-.163-.219.005-.053.19-.04a.04.04 0 0 0 .031-.043.1.1 0 0 0-.026-.077Zm-1.269 1.054a.21.21 0 0 1-.1-.2c.015-.066.087-.083.159-.038a.21.21 0 0 1 .1.2c-.015.063-.086.083-.159.038Zm-.064-.462c-.066-.041-.131-.026-.145.035l-.067.287a1.619 1.619 0 0 1-.681-.132 2.516 2.516 0 0 1-.7-.438l-.067-.342a.2.2 0 0 0-.145-.153l-.277-.054q-.077-.111-.143-.228l1.35.552c.015.006.025.008.025-.006v-.477c0-.014-.01-.021-.025-.027l-.395-.161v-.3l.427.175a.459.459 0 0 1 .263.335c.017.074.054.305.08.385a.608.608 0 0 0 .239.331l.672.275.024.008a.9.9 0 0 1-.153.117Zm-1.867-.334a.224.224 0 0 1-.159-.168c-.015-.079.031-.132.1-.118a.225.225 0 0 1 .159.168c.019.079-.027.132-.1.118Zm-.514-2.286c.03.08 0 .147-.068.149a.209.209 0 0 1-.177-.141c-.03-.08 0-.147.068-.149a.209.209 0 0 1 .177.141Zm-.157.309.289-.01c.062 0 .09-.063.062-.136l-.06-.159.234.1v1.055l-.472-.193a1.944 1.944 0 0 1-.063-.479 1.565 1.565 0 0 1 .012-.18Zm1.268.416v-.311l.557.228c.029.012.2.116.2.247 0 .108-.134.092-.244.047l-.517-.211Zm2.025 1.108v.121l-.169-.069c-.017-.007-.024 0-.024.018v.078c0 .183-.1.181-.194.154a.311.311 0 0 1-.194-.168.953.953 0 0 0-.269-.563c.166-.038.339-.122.339-.331a.862.862 0 0 0-.259-.542 1.183 1.183 0 0 0-.355-.262l-1.752-.717a1.144 1.144 0 0 1 .924-.144l.207.3c.047.068.124.1.173.075l.231-.127a2.951 2.951 0 0 1 1.13 1.267l-.158.293a.169.169 0 0 0 .062.187l.3.26q.01.087.01.17ZM12.987 20.7c.054-.029.138.007.19.082s.049.159 0 .188-.138-.007-.19-.082-.053-.156 0-.188Zm1.57 1.905c.03-.056.109-.054.177 0a.185.185 0 0 1 .068.205c-.03.056-.109.054-.177 0a.185.185 0 0 1-.068-.202Z"
							opacity=".56"></path><path
							d="m27.838 18.724-.172-.039v-.051l.148-.208a.087.087 0 0 0 .018-.065.035.035 0 0 0-.037-.03l-.189.006-.015-.045.118-.222a.073.073 0 0 0 .007-.063.037.037 0 0 0-.045-.018l-.2.051-.03-.04.084-.229a.058.058 0 0 0 0-.058.042.042 0 0 0-.051-.006l-.2.094-.032-.027.047-.227a.047.047 0 0 0-.016-.052.052.052 0 0 0-.056.007l-.2.133-.039-.017.007-.215a.039.039 0 0 0-.026-.043.065.065 0 0 0-.058.02l-.184.166-.045-.006-.033-.2a.036.036 0 0 0-.036-.032.08.08 0 0 0-.057.031l-.164.194-.049.005-.071-.168a.036.036 0 0 0-.044-.021.094.094 0 0 0-.055.042l-.138.214-.05.016-.107-.135a.041.041 0 0 0-.05-.008.1.1 0 0 0-.05.051l-.107.226-.05.026-.138-.1a.05.05 0 0 0-.055 0 .109.109 0 0 0-.044.058l-.071.228-.049.036-.164-.054a.062.062 0 0 0-.057.017.107.107 0 0 0-.036.063l-.033.223-.045.044-.184-.01a.077.077 0 0 0-.058.029.1.1 0 0 0-.026.065l.007.209-.039.05-.2.035a.092.092 0 0 0-.056.04.085.085 0 0 0-.016.065l.046.187-.032.054-.2.079a.1.1 0 0 0-.051.049.07.07 0 0 0 0 .062l.084.157-.024.057-.2.119a.109.109 0 0 0-.045.057.056.056 0 0 0 .007.057l.118.122-.015.058-.189.155a.107.107 0 0 0-.037.062.045.045 0 0 0 .018.05l.148.082v.055l-.172.185a.1.1 0 0 0-.028.065.038.038 0 0 0 .028.041l.172.039v.051l-.148.208a.088.088 0 0 0-.018.065.035.035 0 0 0 .037.03l.189-.006.015.045-.118.222a.073.073 0 0 0-.007.063.037.037 0 0 0 .045.018l.2-.051.024.037-.094.247a.058.058 0 0 0 0 .058.042.042 0 0 0 .051.006l.2-.094.032.027-.046.227a.047.047 0 0 0 .016.051.052.052 0 0 0 .056-.007l.2-.133.039.017-.007.215a.039.039 0 0 0 .026.043.065.065 0 0 0 .058-.02l.184-.166.045.006.033.2a.035.035 0 0 0 .036.032.08.08 0 0 0 .057-.031l.164-.194.049-.005.071.168a.036.036 0 0 0 .044.02.093.093 0 0 0 .055-.042l.138-.214.05-.016.107.135a.041.041 0 0 0 .05.008.1.1 0 0 0 .05-.051l.107-.226.05-.027.138.1a.05.05 0 0 0 .055 0 .109.109 0 0 0 .044-.058l.071-.228.049-.036.164.054a.063.063 0 0 0 .057-.017.107.107 0 0 0 .036-.063l.038-.239.045-.044.184.01a.077.077 0 0 0 .058-.029.1.1 0 0 0 .026-.065l-.007-.209.039-.05.2-.035a.091.091 0 0 0 .056-.04.085.085 0 0 0 .016-.065l-.046-.187.032-.054.2-.079a.1.1 0 0 0 .051-.049.07.07 0 0 0 0-.062l-.084-.157.024-.057.2-.119a.108.108 0 0 0 .045-.057.056.056 0 0 0-.006-.052l-.118-.122.015-.058.189-.155a.107.107 0 0 0 .037-.062.045.045 0 0 0-.018-.05l-.148-.082v-.055l.172-.185a.1.1 0 0 0 .028-.065.038.038 0 0 0-.019-.042Zm-1.153 1.988c-.066.013-.108-.037-.094-.112a.208.208 0 0 1 .145-.16c.066-.013.108.037.094.112a.209.209 0 0 1-.146.161Zm-.059-.39a.19.19 0 0 0-.132.146l-.061.325a2.252 2.252 0 0 1-.619.4 1.4 1.4 0 0 1-.632.123l-.061-.273c-.013-.057-.072-.072-.132-.033l-.252.164a.825.825 0 0 1-.13-.106l1.226-.521c.014-.006.023-.012.023-.026v-.455c0-.013-.009-.012-.023-.006l-.359.152v-.288l.388-.165a.161.161 0 0 1 .239.115c.015.057.049.249.072.3s.117.172.217.13l.611-.26.022-.012a2.868 2.868 0 0 1-.139.23Zm-1.7 1.13c-.066.043-.131.026-.145-.037a.2.2 0 0 1 .094-.192c.066-.043.131-.026.145.037a.2.2 0 0 1-.09.192Zm-.465-1.779a.18.18 0 0 1-.062.2c-.062.055-.134.056-.161 0a.18.18 0 0 1 .062-.2c.065-.051.137-.053.165 0Zm-.143.416.263-.234a.164.164 0 0 0 .057-.178l-.054-.105.213-.09v1l-.429.182a1.386 1.386 0 0 1-.057-.407c.002-.057.005-.11.011-.168Zm1.152-.587v-.3l.506-.215c.026-.011.185-.047.185.077 0 .1-.122.192-.222.234l-.47.2Zm1.84-.516v.118l-.154.065a.036.036 0 0 0-.022.036v.074a.31.31 0 0 1-.176.3c-.078.043-.165.036-.176-.01-.046-.253-.123-.278-.245-.327a.984.984 0 0 0 .308-.578.3.3 0 0 0-.235-.315.568.568 0 0 0-.322.026l-1.588.675a2.7 2.7 0 0 1 .84-.853l.188.127c.042.029.113 0 .157-.063l.21-.3a.938.938 0 0 1 1.027.33l-.144.4c-.025.069 0 .128.057.13l.277.011q.002.075.002.154Zm-1.591-1.044c.049-.069.126-.1.172-.069s.045.113 0 .183-.126.1-.172.069-.045-.114.004-.184Zm1.427.6a.191.191 0 0 1 .161-.133c.062 0 .089.066.062.142a.191.191 0 0 1-.161.133c-.058-.006-.086-.07-.058-.146Z"
							opacity=".55"></path><use xlink:href="#a" width="45.72" height="26.28" transform="matrix(0 -.029 .022 .013 4.314 16.786)"></use><use xlink:href="#a" width="45.72" height="26.28" transform="matrix(0 -.029 .022 .013 8.876 18.632)"></use><use xlink:href="#a" width="45.72" height="26.28" transform="matrix(0 -.029 .022 .013 10.451 11.138)"></use><use xlink:href="#a" width="45.72" height="26.28" transform="matrix(0 -.029 .022 .013 15.013 12.984)"></use><use
							xlink:href="#a"
							width="45.72"
							height="26.28"
							transform="matrix(0 -.029 .02 -.012 16.773 21.54)"></use><use xlink:href="#a" width="45.72" height="26.28" transform="matrix(0 -.029 .02 -.012 21.389 19.694)"></use><use xlink:href="#a" width="45.72" height="26.28" transform="matrix(0 -.029 .02 -.012 23.072 11.167)"></use><use xlink:href="#a" width="45.72" height="26.28" transform="matrix(0 -.029 .02 -.012 27.689 9.321)"></use></svg
					>
				</Link>
				<Link color="bg-[#F74B00]" name="Rust std" link="doc.rust-lang.org/std/">
					<svg xmlns="http://www.w3.org/2000/svg" height="1.5em" fill="#fff" viewBox="0 0 512 512"
						><path
							d="M508.52,249.75,486.7,236.24c-.17-2-.34-3.93-.55-5.88l18.72-17.5a7.35,7.35,0,0,0-2.44-12.25l-24-9c-.54-1.88-1.08-3.78-1.67-5.64l15-20.83a7.35,7.35,0,0,0-4.79-11.54l-25.42-4.15c-.9-1.73-1.79-3.45-2.73-5.15l10.68-23.42a7.35,7.35,0,0,0-6.95-10.39l-25.82.91q-1.79-2.22-3.61-4.4L439,81.84A7.36,7.36,0,0,0,430.16,73L405,78.93q-2.17-1.83-4.4-3.61l.91-25.82a7.35,7.35,0,0,0-10.39-7L367.7,53.23c-1.7-.94-3.43-1.84-5.15-2.73L358.4,25.08a7.35,7.35,0,0,0-11.54-4.79L326,35.26c-1.86-.59-3.75-1.13-5.64-1.67l-9-24a7.35,7.35,0,0,0-12.25-2.44l-17.5,18.72c-1.95-.21-3.91-.38-5.88-.55L262.25,3.48a7.35,7.35,0,0,0-12.5,0L236.24,25.3c-2,.17-3.93.34-5.88.55L212.86,7.13a7.35,7.35,0,0,0-12.25,2.44l-9,24c-1.89.55-3.79,1.08-5.66,1.68l-20.82-15a7.35,7.35,0,0,0-11.54,4.79l-4.15,25.41c-1.73.9-3.45,1.79-5.16,2.73L120.88,42.55a7.35,7.35,0,0,0-10.39,7l.92,25.81c-1.49,1.19-3,2.39-4.42,3.61L81.84,73A7.36,7.36,0,0,0,73,81.84L78.93,107c-1.23,1.45-2.43,2.93-3.62,4.41l-25.81-.91a7.42,7.42,0,0,0-6.37,3.26,7.35,7.35,0,0,0-.57,7.13l10.66,23.41c-.94,1.7-1.83,3.43-2.73,5.16L25.08,153.6a7.35,7.35,0,0,0-4.79,11.54l15,20.82c-.59,1.87-1.13,3.77-1.68,5.66l-24,9a7.35,7.35,0,0,0-2.44,12.25l18.72,17.5c-.21,1.95-.38,3.91-.55,5.88L3.48,249.75a7.35,7.35,0,0,0,0,12.5L25.3,275.76c.17,2,.34,3.92.55,5.87L7.13,299.13a7.35,7.35,0,0,0,2.44,12.25l24,9c.55,1.89,1.08,3.78,1.68,5.65l-15,20.83a7.35,7.35,0,0,0,4.79,11.54l25.42,4.15c.9,1.72,1.79,3.45,2.73,5.14L42.56,391.12a7.35,7.35,0,0,0,.57,7.13,7.13,7.13,0,0,0,6.37,3.26l25.83-.91q1.77,2.22,3.6,4.4L73,430.16A7.36,7.36,0,0,0,81.84,439L107,433.07q2.18,1.83,4.41,3.61l-.92,25.82a7.35,7.35,0,0,0,10.39,6.95l23.43-10.68c1.69.94,3.42,1.83,5.14,2.73l4.15,25.42a7.34,7.34,0,0,0,11.54,4.78l20.83-15c1.86.6,3.76,1.13,5.65,1.68l9,24a7.36,7.36,0,0,0,12.25,2.44l17.5-18.72c1.95.21,3.92.38,5.88.55l13.51,21.82a7.35,7.35,0,0,0,12.5,0l13.51-21.82c2-.17,3.93-.34,5.88-.56l17.5,18.73a7.36,7.36,0,0,0,12.25-2.44l9-24c1.89-.55,3.78-1.08,5.65-1.68l20.82,15a7.34,7.34,0,0,0,11.54-4.78l4.15-25.42c1.72-.9,3.45-1.79,5.15-2.73l23.42,10.68a7.35,7.35,0,0,0,10.39-6.95l-.91-25.82q2.22-1.79,4.4-3.61L430.16,439a7.36,7.36,0,0,0,8.84-8.84L433.07,405q1.83-2.17,3.61-4.4l25.82.91a7.23,7.23,0,0,0,6.37-3.26,7.35,7.35,0,0,0,.58-7.13L458.77,367.7c.94-1.7,1.83-3.43,2.73-5.15l25.42-4.15a7.35,7.35,0,0,0,4.79-11.54l-15-20.83c.59-1.87,1.13-3.76,1.67-5.65l24-9a7.35,7.35,0,0,0,2.44-12.25l-18.72-17.5c.21-1.95.38-3.91.55-5.87l21.82-13.51a7.35,7.35,0,0,0,0-12.5Zm-151,129.08A13.91,13.91,0,0,0,341,389.51l-7.64,35.67A187.51,187.51,0,0,1,177,424.44l-7.64-35.66a13.87,13.87,0,0,0-16.46-10.68l-31.51,6.76a187.38,187.38,0,0,1-16.26-19.21H258.3c1.72,0,2.89-.29,2.89-1.91V309.55c0-1.57-1.17-1.91-2.89-1.91H213.47l.05-34.35H262c4.41,0,23.66,1.28,29.79,25.87,1.91,7.55,6.17,32.14,9.06,40,2.89,8.82,14.6,26.46,27.1,26.46H407a187.3,187.3,0,0,1-17.34,20.09Zm25.77,34.49A15.24,15.24,0,1,1,368,398.08h.44A15.23,15.23,0,0,1,383.24,413.32Zm-225.62-.68a15.24,15.24,0,1,1-15.25-15.25h.45A15.25,15.25,0,0,1,157.62,412.64ZM69.57,234.15l32.83-14.6a13.88,13.88,0,0,0,7.06-18.33L102.69,186h26.56V305.73H75.65A187.65,187.65,0,0,1,69.57,234.15ZM58.31,198.09a15.24,15.24,0,0,1,15.23-15.25H74a15.24,15.24,0,1,1-15.67,15.24Zm155.16,24.49.05-35.32h63.26c3.28,0,23.07,3.77,23.07,18.62,0,12.29-15.19,16.7-27.68,16.7ZM399,306.71c-9.8,1.13-20.63-4.12-22-10.09-5.78-32.49-15.39-39.4-30.57-51.4,18.86-11.95,38.46-29.64,38.46-53.26,0-25.52-17.49-41.59-29.4-49.48-16.76-11-35.28-13.23-40.27-13.23H116.32A187.49,187.49,0,0,1,221.21,70.06l23.47,24.6a13.82,13.82,0,0,0,19.6.44l26.26-25a187.51,187.51,0,0,1,128.37,91.43l-18,40.57A14,14,0,0,0,408,220.43l34.59,15.33a187.12,187.12,0,0,1,.4,32.54H423.71c-1.91,0-2.69,1.27-2.69,3.13v8.82C421,301,409.31,305.58,399,306.71ZM240,60.21A15.24,15.24,0,0,1,255.21,45h.45A15.24,15.24,0,1,1,240,60.21ZM436.84,214a15.24,15.24,0,1,1,0-30.48h.44a15.24,15.24,0,0,1-.44,30.48Z"
						></path></svg
					>
				</Link>
			</div>
			<div class="flex flex-col gap-4 w-fit h-fit">
			<div class="w-full h-fit  flex flex-col gap-4 items-center">
				<form method="get" action="https://html.duckduckgo.com/html" target="_top" class="p-2 bg-slate-500 flex rounded-full w-full">
					<input class="pl-2 outline-none w-full bg-transparent text-white" type="text" name="q" placeholder="Search" autofocus autocomplete="off" />
					<button class="pr-2" type="submit" aria-label="search button">
						<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path fill="#fff" d="M416 208c0 46-15 88-40 123l127 126a32 32 0 0 1-46 46L331 376a208 208 0 1 1 85-168zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path></svg>
					</button>
				</form>

				<div class="grid grid-cols-3 grid-rows-4 gap-2 bg-slate-700 p-4 rounded-xl my-shadow border-solid border-violet-600/20 border-2 w-full">
					<Link color="bg-[#ff0000]" name="Youtube" link="www.youtube.com/feed/subscriptions">
						<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path fill="#fff" d="M550 124c-7-24-25-42-49-49-42-11-213-11-213-11S117 64 75 75c-24 7-42 25-49 49-11 43-11 132-11 132s0 90 11 133c7 23 25 41 49 48 42 11 213 11 213 11s171 0 213-11c24-7 42-25 49-48 11-43 11-133 11-133s0-89-11-132zM232 338V175l143 81-143 82z"></path></svg>
					</Link>
					<Link color="bg-[#834FD6]" name="Anime" link="aniwave.to/home">
						<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path fill="#fff" d="M73 39A48 48 0 0 0 0 80v352a48 48 0 0 0 73 41l288-176a48 48 0 0 0 0-82L73 39z"></path></svg>
					</Link>
					<Link color="bg-[#27432F]" name="The Yard" link="www.youtube.com/@TheYardPodcast">
						<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 295 295"
							><path
								fill="#fff"
								d="M16 105V48l.6-7L34 20 44.42 8 51 3.03 58 7l13 11.42 15 13.51 7.98 8.08L95 47v51c2.71 0 7.37.43 9.4-1.6 2.73-2.73 1.09-8.98.55-12.4V43.09c.54-2.5 4.12-5.28 6.05-7.12l19-17.14c2.82-2.53 11.47-11.56 15-11.49 2.76.04 9.7 6.77 12 8.82l17.04 15.12c2.41 2.11 7.57 6.13 8.94 8.76 1.21 2.32 1.01 5.39 1.02 7.96l1 43c2.76-.22 10.56-.75 12.4-2.6 1.92-1.93 1.59-5.86 1.6-8.4l.83-27c.22-2.31-.01-5.95.77-7.96 1.25-3.25 10.4-10.86 13.4-13.46 7.48-6.49 23.25-22.99 31-26.58l23.18 25.09c6.93 7.26 11.08 8.42 10.79 18.87L278 62v21l11-1 3 29-34 2.83-68 6-32 2.26-27 2.74-26 2-30 2.45-24 1.89-29 2.8c-3.62.17-14.98 1.93-17.4 0-1.78-1.4-1.62-4.86-1.88-6.97L1 106l15-1Zm182 25 37-2.91c4 .25 16.47 3.9 21 5.2 3.53 1.02 16.16 3.95 18.01 6.41 1.25 1.67.99 5.26.99 7.3l-1 40-.98 17c.36 8.8 4.68 6.26 19.98 9l-3 28-74-7.83-148-16.33L3 209l1.83-20 1.91-8H17v-33l21-1 40-1 17-1v28l1 17 12 1v-31c-.04-3.14-1.67-10.02.6-12.02 1.94-1.7 17.84-4.62 21.4-5.4L186 131l1 20 1 49 7 1 1-15 1-17 1-39ZM18 234l38-3.09c17.02-1.16 22.07-3.27 40-.91v64l-35-1-43-1v-58Zm92 7h42l15-1h22l1 16v29l-49-1-15-1h-15l-1-20v-22Zm84 15 49-9.39 28 2.39v18l-1 21-22 1-11 .91-35 2.18-9 .91 1-37Zm-3.75-107"
							></path></svg
						>
					</Link>
					<Link color="bg-[#ff4500]" name="Selfhosted" link="reddit.com/r/selfhosted">
						<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"
							><path
								fill="#fff"
								d="M440 204c-15 0-28 6-38 15-35-24-83-40-137-42l28-125 88 20c0 22 18 39 39 39 22 0 40-18 40-39s-18-40-40-40c-15 0-28 9-35 22l-97-22c-5-1-10 2-11 7l-31 138c-53 2-100 18-136 43a53 53 0 0 0-38-16c-56 0-74 74-23 100l-3 24c0 84 95 152 210 152 117 0 211-68 211-152 0-8-1-17-3-25 50-25 32-100-24-100zM129 309a40 40 0 1 1 79 0 40 40 0 0 1-79 0zm215 93c-37 37-139 37-176 0-4-3-4-9 0-13s10-4 13 0c28 28 120 29 149 0 4-4 10-4 14 0s4 10 0 13zm-1-54c-22 0-39-17-39-39a39 39 0 1 1 39 39z"
							></path></svg
						>
					</Link>
					<Link color="bg-[#ff4500]" name="Ludwig" link="reddit.com/r/LudwigAhgren">
						<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"
							><path
								fill="#fff"
								d="M440 204c-15 0-28 6-38 15-35-24-83-40-137-42l28-125 88 20c0 22 18 39 39 39 22 0 40-18 40-39s-18-40-40-40c-15 0-28 9-35 22l-97-22c-5-1-10 2-11 7l-31 138c-53 2-100 18-136 43a53 53 0 0 0-38-16c-56 0-74 74-23 100l-3 24c0 84 95 152 210 152 117 0 211-68 211-152 0-8-1-17-3-25 50-25 32-100-24-100zM129 309a40 40 0 1 1 79 0 40 40 0 0 1-79 0zm215 93c-37 37-139 37-176 0-4-3-4-9 0-13s10-4 13 0c28 28 120 29 149 0 4-4 10-4 14 0s4 10 0 13zm-1-54c-22 0-39-17-39-39a39 39 0 1 1 39 39z"
							></path></svg
						>
					</Link>
					<Link color="bg-[#ff4500]" name="Reddit" link="reddit.com">
						<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"
							><path
								fill="#fff"
								d="M440 204c-15 0-28 6-38 15-35-24-83-40-137-42l28-125 88 20c0 22 18 39 39 39 22 0 40-18 40-39s-18-40-40-40c-15 0-28 9-35 22l-97-22c-5-1-10 2-11 7l-31 138c-53 2-100 18-136 43a53 53 0 0 0-38-16c-56 0-74 74-23 100l-3 24c0 84 95 152 210 152 117 0 211-68 211-152 0-8-1-17-3-25 50-25 32-100-24-100zM129 309a40 40 0 1 1 79 0 40 40 0 0 1-79 0zm215 93c-37 37-139 37-176 0-4-3-4-9 0-13s10-4 13 0c28 28 120 29 149 0 4-4 10-4 14 0s4 10 0 13zm-1-54c-22 0-39-17-39-39a39 39 0 1 1 39 39z"
							></path></svg
						>
					</Link>
					<Link color="bg-[#121520]" name="Monkeytype" link="monkeytype.com">
						<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="-680 -1030 300 180" fill="white"
							><path d="M-430-910c6 0 10 4 10 10s-4 10-10 10-10-4-10-10 4-10 10-10Zm-140 0h60c6 0 10 4 10 10s-4 10-10 10h-60c-6 0-10-4-10-10s4-10 10-10Zm-20-60c6 0 10 4 10 10v20c0 6-4 10-10 10s-10-4-10-10v-20c0-6 4-10 10-10Z"></path><path
								d="M-640-961c0-16 14-29 30-29 8 0 15 3 20 8 5-5 12-8 20-8a30 30 0 0 1 30 30v20c0 6-4 10-10 10s-10-4-10-10v-20a10 10 0 0 0-20 0v20c0 6-4 10-10 10s-10-4-10-10v-20a10 10 0 0 0-20 0v20c0 6-4 10-10 10s-10-4-10-10v-21Zm180 31v30c0 6-4 10-10 10s-10-4-10-10v-30h-29c-6 0-11-4-11-10s5-10 11-10h78c6 0 11 4 11 10s-5 10-11 10h-29Zm-10-60h40c6 0 10 4 10 10s-4 10-10 10h-40c-6 0-10-4-10-10s4-10 10-10Zm-160 80h20c6 0 10 4 10 10s-4 10-10 10h-20c-6 0-10-4-10-10s4-10 10-10Zm115-80h5c6 0 10 4 10 10s-4 10-10 10h-5c-6 0-10-4-10-10s4-10 10-10Z"
							></path><path d="M-660-910h-20v-70c0-28 22-50 50-50h200c28 0 50 22 50 50v80c0 28-22 50-50 50h-200c-28 0-50-22-50-50v-20h20v20c0 17 13 30 30 30h200c17 0 30-13 30-30v-80c0-17-13-30-30-30h-200c-17 0-30 13-30 30v70Z"></path></svg
						>
					</Link>
					<Link color="bg-[#CD97D6]" name="Movies" link="movie-web.app/search/movie">
						<svg xmlns="http://www.w3.org/2000/svg" height="1em" fill="#fff" viewBox="0 0 20.9 20.9"><path d="m19.7 8.6-1.2 1.2-1.3-1.2 1.3-1.2-5-5-1.2 1.3-1.2-1.2 1.2-1.3L11.1 0 0 11l1.2 1.3 1.3-1.2 1.2 1.2-1.2 1.2 4.9 5 1.2-1.3 1.2 1.3-1.2 1.2 1.2 1.2L21 10ZM4.9 11.1 3.7 9.8l1.2-1.2 1.3 1.2Zm2.5-2.5L6.2 7.4l1.2-1.2 1.2 1.2Zm2.5-2.4L8.6 4.9l1.2-1.2 1.3 1.2Zm1.2 11L9.8 16l1.3-1.2 1.2 1.2Zm2.4-2.4-1.2-1.3 1.2-1.2 1.3 1.2Zm2.5-2.5-1.2-1.2L16 9.8l1.2 1.3Z"></path></svg>
					</Link>
					<Link color="bg-[#f96854]" name="Patreon" link="www.patreon.com/home">
						<svg xmlns="http://www.w3.org/2000/svg" height="1em" fill="#fff" viewBox="0 0 512 512"><path d="M512 194.8c0 101.3-82.4 183.8-183.8 183.8-101.7 0-184.4-82.4-184.4-183.8 0-101.6 82.7-184.3 184.4-184.3C429.6 10.5 512 93.2 512 194.8zM0 501.5h90v-491H0v491z"></path></svg>
					</Link>
					<Link color="bg-[#9146ff]" name="Twitch" link="www.twitch.tv">
						<svg xmlns="http://www.w3.org/2000/svg" height="1em" fill="#fff" viewBox="0 0 512 512"><path d="M391.17 103.47h-38.63v109.7h38.63ZM285 103h-38.63v109.75H285ZM120.83 0 24.31 91.42v329.16h115.83V512l96.53-91.42h77.25L487.69 256V0Zm328.24 237.75-77.22 73.12h-77.24l-67.6 64v-64h-86.87V36.58h308.93Z"></path></svg>
					</Link>
					<Link color="bg-green-500" name="Jisho" link="jisho.org">
						<svg xmlns="http://www.w3.org/2000/svg" height="1em" fill="#fff" viewBox="0 0 512 512"><path d="M352 256c0 22-1 44-3 64H163a598 598 0 0 1 0-128h186c2 20 3 42 3 64zm29-64h123a255 255 0 0 1 0 128H381a632 632 0 0 0 0-128zm112-32H377C367 96 347 43 321 8c79 21 142 78 172 152zm-149 0H168c6-36 15-69 27-95 10-23 22-40 33-51s21-14 28-14 17 3 28 14 23 28 33 51c12 26 21 59 27 95zm-209 0H19C49 86 112 29 191 8c-26 35-46 88-56 152zM8 192h123a632 632 0 0 0 0 128H8a255 255 0 0 1 0-128zm187 255c-12-26-21-59-27-95h176c-6 36-15 69-27 95-10 23-22 40-33 51s-21 14-28 14-17-3-28-14-23-28-33-51zm-60-95c10 64 30 117 56 152-79-21-142-78-172-152h116zm358 0c-30 74-93 131-171 152 25-35 45-88 55-152h116z"/></svg>
					</Link>
					<Link color="bg-[tomato]" name="Tae kim" link="guidetojapanese.org/learn/">
						<svg xmlns="http://www.w3.org/2000/svg" height="1em" fill="#fff" viewBox="0 0 448 512" ><path d="M96 0C43 0 0 43 0 96v320c0 53 43 96 96 96h320a32 32 0 1 0 0-64v-64c18 0 32-14 32-32V32c0-18-14-32-32-32H96zm0 384h256v64H96a32 32 0 1 1 0-64zm32-240c0-9 7-16 16-16h192c9 0 16 7 16 16s-7 16-16 16H144c-9 0-16-7-16-16zm16 48h192c9 0 16 7 16 16s-7 16-16 16H144c-9 0-16-7-16-16s7-16 16-16z"/></svg>
					</Link>


				</div>
			</div>
			</div>
			
			<div class="w-fit h-fit bg-slate-700 p-4 rounded-xl my-shadow border-solid border-violet-600/20 border-2 flex flex-col gap-2">
				<Link color="bg-[#ff9900]" name="Amazon" link="www.amazon.ca">
					<svg xmlns="http://www.w3.org/2000/svg" height="1em" fill="#fff" viewBox="0 0 448 512"><path d="M257 163c-49 1-169 15-169 117 0 110 138 114 183 43 7 11 36 38 45 47l57-56s-32-25-32-53V114c0-25-24-82-112-82S94 87 94 136l74 7c16-49 54-49 54-49 40 0 35 29 35 69zm0 86c0 81-84 69-84 18 0-48 51-57 84-58v40zm136 164c-8 10-70 67-174 67S34 409 10 379c-7-8 1-11 5-8 74 44 188 118 373 30 7-4 13 2 5 12zm40 2c-6 16-16 27-21 31-6 5-10 3-7-4s20-46 13-55c-6-8-37-4-48-3s-13 2-14 0c-2-6 22-16 38-18 15-1 41 0 46 6 3 5 0 27-7 43z"></path></svg>
				</Link>
				<Link color="bg-blue-800" name="I love img" link="www.iloveimg.com">
					<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 15 14"><path d="M9.645.414c-.844.43-1.48 1.156-1.942 1.98C6.961 1.075 5.777 0 3.988 0 2.195 0 0 1.61 0 4.324c0 2.75 2.168 4.055 3.242 4.79 1.149.784 3.11 2.214 4.461 4.859 1.352-2.645 3.313-4.075 4.461-4.86.805-.554 2.23-1.425 2.89-2.996Zm-.067 5.86v-5.17l4.887 5.168Zm0 0" style="fill:#4d90fe"></path><path d="M14.465 6.273H9.578V1.105Zm0 0" style="fill:#fff"></path></svg>
				</Link>
				<Link color="bg-red-900" name="I love pdf" link="www.ilovepdf.com">
					<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 15 14"><path d="M9.645.414c-.844.43-1.48 1.156-1.942 1.98C6.961 1.075 5.777 0 3.988 0 2.195 0 0 1.61 0 4.324c0 2.75 2.168 4.055 3.242 4.79 1.149.784 3.11 2.214 4.461 4.859 1.352-2.645 3.313-4.075 4.461-4.86.805-.554 2.23-1.425 2.89-2.996Zm-.067 5.86v-5.17l4.887 5.168Zm0 0" style="fill:#e5322d"></path><path d="M14.465 6.273H9.578V1.105Zm0 0" style="fill:#fff"></path></svg>
				</Link>
				<Link color="bg-[#5865f2]" name="Discord" link="www.discord.com/app">
					<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><path fill="#fff" d="M525 70a2 2 0 0 0-1-1 485 485 0 0 0-120-37 2 2 0 0 0-2 1 337 337 0 0 0-15 31 448 448 0 0 0-134 0 310 310 0 0 0-15-31 2 2 0 0 0-2-1 484 484 0 0 0-120 37 2 2 0 0 0-1 1 496 496 0 0 0-87 334 2 2 0 0 0 1 2 488 488 0 0 0 147 74 2 2 0 0 0 2-1 348 348 0 0 0 30-49 2 2 0 0 0-1-2 321 321 0 0 1-46-22 2 2 0 0 1 0-3l9-7a2 2 0 0 1 2-1c96 44 200 44 296 0a2 2 0 0 1 1 1l10 7a2 2 0 0 1-1 3 301 301 0 0 1-45 22 2 2 0 0 0-1 2 391 391 0 0 0 30 49 2 2 0 0 0 2 1 486 486 0 0 0 147-74 2 2 0 0 0 0-2c13-126-20-237-86-334ZM222 338c-28 0-52-27-52-60s23-59 52-59c30 0 54 27 53 59 0 33-23 60-53 60Zm196 0c-29 0-53-27-53-60s23-59 53-59 53 27 53 59c0 33-23 60-53 60Z"></path></svg>
				</Link>
				<Link color="bg-lime-600" name="Duolingo" link="www.duolingo.com/learn">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" height="1em"><path fill="#7cb342" d="M38 6H10a4 4 0 0 0-4 4v28a4 4 0 0 0 4 4h28a4 4 0 0 0 4-4V10a4 4 0 0 0-4-4z"/><path fill="#aeea00" d="M42 18v11.5A8.5 8.5 0 0 1 26.4 28h-4.8A8.5 8.5 0 0 1 6 29.5V18c0-2 1-6 3-6 1 0 2 1.4 2.5 2.1 0-.9-.3-4.1 1.5-4.1 3 0 5 8 11 8s8-8 11-8c1.8 0 1.4 3.2 1.5 4.1C37 13.4 38 12 39 12c2 0 3 4 3 6z"/><path fill="#fafafa" d="M34.5 31c-3 0-5.5-2.5-5.5-5.5v-3a5.5 5.5 0 1 1 11 0v3c0 3-2.5 5.5-5.5 5.5z"/><path fill="#616161" d="M36 22.5v3a2.5 2.5 0 0 1-5 0v-2.6l.5.1a1.5 1.5 0 0 0 .9-2.7 2 2 0 0 1 1.1-.3c1.4 0 2.5 1.1 2.5 2.5z"/><path fill="#fafafa" d="M13.5 31c-3 0-5.5-2.5-5.5-5.5v-3a5.5 5.5 0 1 1 11 0v3c0 3-2.5 5.5-5.5 5.5z"/><path fill="#616161" d="M17 22.5v3a2.5 2.5 0 0 1-5 0v-2.6l.5.1a1.5 1.5 0 0 0 .9-2.7 2 2 0 0 1 1.1-.3c1.4 0 2.5 1.1 2.5 2.5z"/><circle cx="24" cy="30" r="3" fill="#ef6c00"/><path fill="#f9a825" d="M24 26a4 4 0 0 0-4 4l4 1 4-1a4 4 0 0 0-4-4z"/><path fill="#ffd54f" d="M24.5 29h-1a1 1 0 0 1 0-2h1c.6 0 1 .4 1 1s-.4 1-1 1z"/></svg>
				</Link>
				<Link color="bg-blue-600" name="Dashy" link="dashy.son-lab.duckdns.org">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="1em"><path fill="white" d="M156.6 384.9 125.7 354c-8.5-8.5-11.5-20.8-7.7-32.2 3-8.9 7-20.5 11.8-33.8H24c-8.6 0-16.6-4.6-20.9-12.1s-4.2-16.7.2-24.1l52.5-88.5c13-21.9 36.5-35.3 61.9-35.3H200c2.4-4 4.8-7.7 7.2-11.3C289.1-4.1 411.1-8.1 483.9 5.3c11.6 2.1 20.6 11.2 22.8 22.8 13.4 72.9 9.3 194.8-111.4 276.7-3.5 2.4-7.3 4.8-11.3 7.2v82.3c0 25.4-13.4 49-35.3 61.9l-88.5 52.5c-7.4 4.4-16.6 4.5-24.1.2S224 496.7 224 488V380.8c-14.1 4.9-26.4 8.9-35.7 11.9-11.2 3.6-23.4.5-31.8-7.8zM384 168a40 40 0 1 0 0-80 40 40 0 1 0 0 80z"/></svg></Link>
				<Link color="bg-[#6D4AFF]" name="ProtonMail" link="mail.proton.me">
					<svg viewBox="0 0 48 48" height="1em" xmlns="http://www.w3.org/2000/svg"><linearGradient id="a" x1="24" x2="24" y1="2.78" y2="42.38" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#6d75d6"/><stop offset=".12" stop-color="#8189de"/><stop offset=".38" stop-color="#a7adec"/><stop offset=".63" stop-color="#c3c7f6"/><stop offset=".84" stop-color="#d3d6fd"/><stop offset="1" stop-color="#d9dcff"/></linearGradient><path fill="url(#a)" d="M42.46 9.25 26.36 22.1a3.84 3.84 0 0 1-4.8-.01L5.54 9.2C4.9 8.72 4 9.16 4 9.94V36a3 3 0 0 0 3 3h34a3 3 0 0 0 3-3V10a.95.95 0 0 0-1.54-.75Z"/><linearGradient id="b" x1="19.71" x2="19.71" y1="15.23" y2="39.14" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#7b83eb"/><stop offset="1" stop-color="#5961c3"/></linearGradient><path fill="url(#b)" d="m35.43 14.86-13.8 10.99a3.84 3.84 0 0 1-4.79-.01L4 15.54V36a3 3 0 0 0 3 3l28.43.03z"/></svg>
				</Link>
			</div>
		</div>
	</main>
</Layout>

<script lang="ts">
function isValidUrl(url) {
	try {
		new URL(url);
		return true;
	} catch (err) {
		return false;
	}
}
const form = document.querySelector('form');
form.addEventListener('submit', e => {
	e.preventDefault();
	const input = document.querySelector('input[name="q"]');
	let inputValue = input.value.trim();
	if (inputValue.startsWith('/y')) {
		inputValue = inputValue.substring(3);
		form.action = 'https://www.youtube.com/results';
		input.value = inputValue;
	}
	if (inputValue.startsWith('/c')) {
		inputValue = inputValue.substring(3);
		form.action = 'https://crates.io/search?q=';
		input.value = inputValue;
	}
	if (inputValue.startsWith('/r')) {
		inputValue = inputValue.substring(3);
		form.action = 'https://www.reddit.com/search/';
		input.value = inputValue;
	}
	if (isValidUrl(inputValue)) {
		form.action = inputValue;
	} else if (/\.(com|ca|io|dev|org|net|us|co|tv)$/.test(inputValue)) {
		form.action = `https://${inputValue}`;
	}
	form.submit();
});
</script>
