---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="bg-gray-500 w-screen h-screen relative">
		<h1 class="w-fit h-fit bg-red-500 absolute inset-0 m-auto">Bookmarks</h1>
	</main>
</Layout>

