---
export interface Props {
	link: string;
	name: string;
	color: string;
}

const { link, name, color } = Astro.props;


---

<a
	class={`items-center gap-2 flex p-2 ${color} rounded-md text-white text-center hover:outline-slate-400 outline-slate-400 hover:outline ease-in-out duration-75 outline-offset-[-2.8px] cursor-pointer`}
	href={`https://${link}`}
>
	<slot />
	<p class="font-medium">{name}</p>
	
</a>
