---
export interface Props {
	link: string;
	name: string;
	color: string;
	whiteText?: boolean;
}

const { link, name, color, whiteText } = Astro.props;

---

<a
	class={`items-center gap-2 flex p-2 ${color} rounded-md ${
		whiteText ? "text-white" : "text-black"
	}  text-center hover:text-slate-400 ease-in-out duration-75`}
	href={`https://${link}`}
>
	<slot />
	<p class="font-medium">{name}</p>
	
</a>
